
 *{
    margin: 0px;
    padding: 0px;
 }   


.banner{
    background-image: url('../images/banner/banner1.png');
   
    width:1500px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
.banner-text{
    
text-align:center;

padding-top:200px;
text-align: right;
padding-right: 400px;


    
}
.btn{
    background: tomato;
    color: #fff;
    border: none;
    padding: 10px 15px;
    box-shadow: 4px;
    border-radius:5px ;
}
.title{
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 20px;
}
.para{
   line-height: 20px;
   padding-bottom:20px ;

}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    gap: 0px;


}
.h2{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}
.banner-year{

}
.img{
    width: 450px;
}
ul > li {
    
    list-style: lower-roman;
    list-style-position: inside;
}
.plan{
    display: flex;
    justify-content: space-around;
    
}
.web{
    align-items: center;
    padding-bottom: 100px;
    gap:0px;
}
.primary{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
    font-weight: bold;
}
.always{
    background-image: url('../images/gradient3.png'),url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 1000px;
    margin: auto;
   
  
}
.keep{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    bottom: 10px;
    padding-bottom: 20px;
}
.btno{
    background: #fff;
    color: #C2552B;
    padding: 20px;
    width: 150px;
    border: none;
    border-radius: 5px;
    
}
.call{
    padding: 40px;
}